{% load i18n wagtailcore_tags wagtailuserbar menu_tags %}
{% get_current_language as LANGUAGE_CODE %}

<header>
    <nav>
        <div class="navbar-menu">
            {% main_menu ul_class="navbar-nav" %}
        </div>
        <form class="navbar-lang" action="{% url 'set_language' %}" method="post" style="display:inline; margin-left:2rem;">
            {% csrf_token %}
            <select name="language" onchange="this.form.submit()">
                <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>Français</option>
            </select>
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
        </form>
    </nav>
</header>